extends default

block content
    div
        input(type="text", data-bind="textInput: myText")
        button(data-bind="click: myText.reset") Reset

    script(type="module").
        import {ko} from '../lib/libs.js';
        import '../lib/koResettableExtender.js';

        const RESET_VAL = 'Type something...';

        ko.applyBindings({
            myText: ko.observable(RESET_VAL).extend({resettable: RESET_VAL})
        });