extends default

block content
    div num: <b data-bind="text: num"></b>
    button(data-bind="click: inc") Inc num

    script(type="module").
        import {ko} from '../lib/libs.js';
        import '../lib/koSubscribeOnce.js';

        function VM() {
            this.num = ko.observable(1);
            this.inc = () => this.num(this.num() + 1);
            this.num.subscribeOnce(newVal => alert('num has changed. This message wont appear again'));
        }

        ko.applyBindings(new VM());