doctype html
html
    head
        title Knockout Toolbox
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="theme-color", content="#838B63")
        style(type="text/css").
            label, input {display:block}
            div {overflow:hidden; min-height: 20px;}
            dd {font-weight:bold}
        script(src="../external/jquery-3.3.1.min.js")
        script(src="../external/knockout-3.4.2.js")
        script(src="../external/moment.js")
        block head
    body
        block content

        a(href="./", style="position: absolute; right: 10px; top: 10px;") &laquo; Back