extends .default

block content
    h2 Current window size:
        b(data-bind="text: w")

    h4(data-bind="text: txt400600")

    h2 visibleIfWindowSize

    div(style="background:red", data-bind="visibleIfWindowSize: {min: 500}") min. 500
    div(style="background:yellow", data-bind="visibleIfWindowSize: {max: 500}") max. 500
    div(style="background:orange", data-bind="visibleIfWindowSize: {min: 400, max: 600}") 400-600

    h2 ifWindowSize

    div(style="background:red", data-bind="ifWindowSize: {min: 500}") min. 500
    div(style="background:yellow", data-bind="ifWindowSize: {max: 500}") max. 500
    div(style="background:orange", data-bind="ifWindowSize: {min: 400, max: 600}") 400-600

    script(type="module").
        import {ko} from '../lib/libs.js';
        import {currentWidth, getWidthRangeObservable} from '../lib/koResponsiveHelper.js';

        const fits400600 = getWidthRangeObservable(400, 600);

        ko.applyBindings({
            w: currentWidth,
            txt400600: ko.computed(() => `Width is ${fits400600() ? '' : 'NOT' } between 400 and 600`)
        });
