extends .default

block append head
    style(type="text/css").
        ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .tabs__container {}
        .tabs__tabs {
            display: block;
        }
        .tabs__tab {
            margin-right: 4px;
            padding: 4px 10px;
            border-radius: 4px 4px 0 0;
            background: #eee;
            cursor: pointer;
            display: inline-block;
        }
        .tabs__tab--active {
            background: #aaa;
            font-weight: bold;
        }
        .tabs__panels {border: 1px solid #888}
        .tabs__panel {padding: 0 10px}

block content
    div(style="display:none" data-bind="visible: true")
        ko-tabs
            ko-tab(params="label: 'Tab #1'")
                p(style="color:red") This is the first tab's content..
            ko-tab(params="label: 'Tab #2'")
                p(style="color:green") And this is the second tab's content...

        br

        // ------------------------------------------------------------------------

        h3 Using the `preselected:true` parameter on the second tab

        ko-tabs
            ko-tab(params="label: 'Tab #1'")
                p(style="color:red") This is the first tab's content..
            ko-tab(params="label: 'Tab #2', preselected: true")
                p(style="color:green") And this is the second tab's content...
            ko-tab(params="label: 'Tab #3'")
                p(style="color:magenta") And this is the third tab's content...

        br

        // ------------------------------------------------------------------------

        h3 Using the `keyForRestore` option, allowing to restore the last used tab whenever the tabs component gets re-rendered
        p
            button(data-bind="click: () => isTabsContainerEnabled(!isTabsContainerEnabled())").
                Click to toggle the red container's content below
            p (The last selected tab will be restored upon re-rendering)

        div(data-bind="if: isTabsContainerEnabled", style="padding: 30px; border: 2px solid red;")
            ko-tabs(params="keyForRestore: 'myRestorableTabs'")
                ko-tab(params="label: 'Tab #1'")
                    p(style="color:red") This is the first tab's content..
                ko-tab(params="label: 'Tab #2'")
                    p(style="color:green") And this is the second tab's content...
                ko-tab(params="label: 'Tab #3'")
                    p(style="color:magenta") And this is the third tab's content...

            h4 Btw.. `keyForRestore` and `preselected` can be combined:

            ko-tabs(params="keyForRestore: 'myRestorableTabs2'")
                ko-tab(params="label: 'Tab #1'")
                    p(style="color:red") This is the first tab's content..
                ko-tab(params="label: 'Tab #2'")
                    p(style="color:green") And this is the second tab's content...
                ko-tab(params="label: 'Tab #3', preselected: 1")
                    p(style="color:magenta").
                        And this is the third tab's content
                    p This tab is <b>preselected ONCE</b> when the tabs get rendered first-time.
                    p Thereafter, whatever tab was selected last, that one will get restored whenever the tabs get destroyed & re-rendered



    script(type="module").
        import {ko} from '../lib/libs.js';
        import '../lib/koTabsComponent.js';

        ko.applyBindings({
            isTabsContainerEnabled: ko.observable(true)
        });